@import url("chrome://bluegriffon/skin/black.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#ebm {
  overflow: hidden;
}

#ebm label {
  color: var(--bg-main-foreground-color);
}

#ebm tab label,
#ebm popup label,
#ebm menupopup label {
  color: unset;
}

#ebookTabbox {
  margin-top: 1.5em;
}

ebook {
  -moz-box-orient: vertical;
}

epub2 {
  -moz-box-orient: vertical;
}

epub3 {
  -moz-box-orient: vertical;
}

epub31 {
  -moz-box-orient: vertical;
}

#ebm tree,
#ebm richlistbox {
  margin: 0px;
}

#ebm tabbox {
  margin-top: 1.5em;
}

#ebm grid {
  margin-left: 1em;
  margin-right: 1em;
  font-size: larger;
}

treechildren::-moz-tree-cell-text(odd)            { color: #404040 }
treechildren::-moz-tree-cell-text(even)           { color: #404040 }

treechildren::-moz-tree-cell-text(odd, editable)  { color: black }
treechildren::-moz-tree-cell-text(even, editable) { color: black }

#ebm_splitter {
  background-color: var(--bg-dark-gray);
}

#ebmCloseButton {
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
  visibility: hidden;
}

#ebm:hover #ebmCloseButton {
  visibility: visible;
}

#ebmCloseButton:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px) ! important;
}

#ebmCloseButton:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px) ! important;
}
