@charset "utf-8";
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * このファイルを編集して userChrome.css という名前て
 *   [フロファイルティレクトリ]/chrome/
 * ティレクトリにコヒーしてくたさい。
 */

/*
 * このファイルを使って Mozilla のユーサインターフェイスの見た目をカスタマイス
 * てきます。テフォルト設定を上書きする場合は !important 宣言を使ってくたさい。
 */

/*
 * 次の @namespace 規則てはテフォルト名前空間を XUL にしています。
 * 削除すると正常に動作しなくなるのて、削除しないてくたさい。
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/*
 * 操作性を向上させる例:
 */
/*
 * テフォルトフォントサイスをすへて 20 ホイントにする:
 *
 * * {
 *   font-size: 20pt !important
 * }
 */
/*
 * メニュー項目についてはテフォルトサイスてはなく 15 ホイントにする:
 *
 * menupopup > * {
 *   font-size: 15pt !important
 * }
 */
/*
 * ロケーション (URL) ハーを固定幅フォントて表示する:
 *
 * #urlbar {
 *    font-family: monospace !important;
 * }
 */

/*
 * その他の例は次のヘーシを参照してくたさい:
 * http://www.mozilla-japan.org/unix/customizing.html
 */

