@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace svg url("http://www.w3.org/2000/svg");

svg|text {
  stroke-width: 1px;
  /*font-family: -moz-fixed;*/
  font-variant: normal;
  line-height: normal;
  font-size: 8pt ! important;
  dominant-baseline: middle;
  text-anchor: middle;
  fill: white;
}

:root[cleartheme="true"] svg|text {
  fill: black;
}

bg-hruler[disabled], bg-vruler[disabled]  {
  visibility: hidden;
}

bg-hruler, bg-vruler {
  display: -moz-box;
  background-color: transparent;
}

bg-hruler {
  stroke-width: 4px;
  /*font-family: -moz-fixed;
  font-weight: bold;*/
  font-variant: normal;
  line-height: normal;
  font-size: x-small;
  height: 16px;
  width: 100%;
  margin: 2px 0px;
  position: absolute;
}

bg-vruler {
  stroke-width: 4px;
  /*font-family: -moz-fixed;
  font-weight: bold;*/
  font-variant: normal;
  line-height: normal;
  font-size: x-small;
  width: 16px;
  margin: 0px 2px;
  /*position: absolute;*/
}

bg-hruler svg|rect,
bg-vruler svg|rect {
  fill: #454545;
}

:root[cleartheme="true"] bg-hruler svg|rect,
:root[cleartheme="true"] bg-vruler svg|rect {
  fill: white;
}

svg|rect.ruler-separator {
  fill: gray;
}

:root[cleartheme="true"] svg|rect.ruler-separator {
  fill: black;
}
